.flex-container {
    display: flex;
    width: 525px;
    height: 500px;
    background-color: #f9cd9c;
    
}

.flex-container>div {
    background-image: url(https://img.freepik.com/free-photo/texture-old-light-beige-paper-background-dense-sand-cardboard_113767-1369.jpg?size=664&ext=jpg);
    border:7px solid rgb(249, 205, 156);
    padding-left: 2px;
    margin-left: 4px;
    border-width: 7px;
    
}

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #000064;
    padding: 17vh 30vh;
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/0/96/SsoUqR.jpg);
    background-size: cover;
    

}

td {
    background-color: #dbd0b9;
    color: #000000;  
    padding: 0px 7px;
    
}
.button {
    background-color: #dbd0b9;
    color: #006464;
    padding: 1px 0px;
    border-width:2px;  
    border-style:outset;
    border-color: #fef1d7;
    text-align: center;
    display: inline-block;   
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:-2px;
} 

.button2 {
    background-color: #dbd0b9 ;
    color: #000064;
    text-align: center;
    height: 23px;
    border-width: 2px;
    border-color: #fef1d7;
    font-family: 'Times', serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: -4px;
}

.button3 {
    background-color: #dbd0b9;
    color: #006464;
    border-color: #dbd0b9;
    margin-left: 50px;
}

.table {
    background-color: #dbd0b9;
    border-width:1px;
    border-style:outset;
    border-color: #fef1d7;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia;
    width: 505px;
    margin-left: -5px;
}

.table1 {
    background-color: #f9cd9c;
    border-width:1px;
    border-style:outset;
    border-color: #fef1d7;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 505px;
    margin-left: -5px;
}

.table2 {
    background-color: #dbd0b9;
    border-width:4px;
    border-style:outset;
    border-color: #fef1d7;
    height: 34px;
    width: 500px;
    margin-left: -5px;
}

.text1  {
    background-color: #dbd0b9;
    border-color: #fef1d7;
    height: 17px;
    width: 35vh;
    margin-top: 6px;
    margin-bottom: 6px;
}

.text2 {
    background-color: #dbd0b9;
    border-color: #fef1d7;
    height: 18px;
}

.text4 {
    background-color: #dbd0b9;
    border-color: #fef1d7;  
    border-width:2px;
    border-style:inset;
    width: 35vh;
    height: 8vh;
    margin-left: 33px;
    margin-top: -16px;
}

.text5 {
    background-color: #dbd0b9;
    border-color: #fef1d7;  
    width: 31vh; 
    height: 18px;
}

.text3 {
    background-color: #dbd0b9;
    border-color: #fef1d7;  
    width: 8vh; 
    height: 18px; 
    margin-top: 7px;
}

.text6 {
    background-color: #dbd0b9;
    border-color: #fef1d7;  
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: #006464;
    width: 44vh; 
    height: 18px;
    padding: 0px 1px;
    margin-left: 45px;
}

